.navbar {
  display: flex;
  justify-content: space-between;
  height: 5em;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.logo {
  height: 5em;
}

.logo-title {
  -webkit-text-stroke-width: 0.02em;
  -webkit-text-stroke-color: black;
}

.icon {
  height: 2em;
}

.navbar > *, .navbar-left > * {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-left p {
 font-size: 3rem;
 font-weight: 400;
}

.navbar-right {
  gap: 1em;
}